<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>CM System Forgot Password</title>
    <div th:replace = "adminData/admin_login/base::navbar-home"></div>
    <link rel = "stylesheet" th:href="@{/stylecss/ForgotPassword.css}"/>
</head>
<body>

<form th:action="@{/cms_admin-forgot-password}" method="post" id = "form">
    <div th:if="${param.success}" id="successAlert">
        <div class = "alert alert-info">Please go to your email to verify!</div>
    </div>

    <div class="alert alert-danger" role="alert" id="dangerAlert"
         th:if="${message}">
        <span th:text="${message}"></span>
    </div>

    <h2 class = "text-center">Forgot Password</h2>
    <br>
    <div class = "form-group">
        <label for = "email"> </label>
        <input type="text" class="form-control" id="email" name="email"
               placeholder="Enter email"
               autofocus = "autofocus" required/>
    </div>
        <br>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>