<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
    <div th:replace = "adminData/admin_login/base::navbar-home"></div>
    <link rel="stylesheet"  th:href="@{/stylecss/creating-customers.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
<div class = "container">
<form th:action = "@{/cms_admin-Forgot_password-setPassword}" th:method="POST" id = "form">
    <input type="hidden" name="token" th:value="${token}">

    <div class = "alert alert-info" role="alert" id="successAlert"
           th:if="${messageSuccessfully}">
            <span th:text="${messageSuccessfully}"></span>
    </div>

    <div class="alert alert-danger" role="alert" id="dangerAlert"
         th:if="${message}">
        <span th:text="${message}"></span>
    </div>

    <h2 class = "text-center">Set Your New Password</h2>
    <br>

            <div class="input-control">
                <input id="password"
                       name = "password"
                       type = "password"
                       placeholder="Password"
                     />
                <i class="far fa-eye" id="togglePassword"></i>
                <div class = "error"></div>
            </div>
            <br>

            <div class="input-control">
                <input id="re_type_password"
                       name = "re_type_password"
                       type = "password"
                       placeholder="Retype Password"
                       onblur="checkRetypePassword(this)"/>
                <i class="far fa-eye" id="toggleRetypePassword"></i>
                <div class = "error"></div>
            </div>
            <br>
            <div class = "box-footer">
                <button id = "submit" type = "submit"  onclick="validateInputs(event)" class = "btn btn-primary" >Submit</button>
            </div>
</form>
</div>
<script type="text/javascript" th:src="@{/customerFunction-js/ForgotPassword.js}"></script>
</body>
</html>