#form{
     width: 490px;
     margin: 30vh auto 0 auto;
     padding: 20px;
     background-color: whitesmoke;
     border-radius: 4px;
     font-size: 17px;
     position:relative;
     top:-45px;
}

#form h2{
       color:#0f2027
       text-align:center;
}


#form button {
      padding: 10px;
      margin-top:10px;
      width:100%;
      color:white;
      background-color:#4169E1 ;
      border:none;
      border-radius:4px;
      transition: .3 ease;
      font-weight:700;
      filter: hue-rotate(10deg);
}

#form button:hover{
     background: #6495ED;
     transition: .3s ease;
     filter: hue-rotate(10deg);
}

.input-control input{
        display:flex;
        flex-direction: column;
}

.input-control input{
       border: 2px solid #f0f0f0;
       border-radius: 4px;
       font-size: 17px;
       padding: 8px;
       width:100%;
}



#dangerAlert{
   text-align:center;
   font-weight:700;
}

#successAlert{
 text-align:center;
 font-weight:700;
}