<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Your Password</title>
    <link rel = "stylesheet" th:href="@{/stylecss/UpdateMyProfileData.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
<div th:replace="customerData/base::navbar-profile"></div>
<div class = "container">
    <form th:action = "@{/myProfile/changePassword/successfully}" th:method="PUT" id = "form" th:object="${adminUser}">

        <div class = "alert alert-info" role="alert"  id="successAlert"
             th:if="${messageSuccessfully}" >
            <span th:text="${messageSuccessfully}" style="text-align:center"></span>
        </div>

        <div class="alert alert-danger" role="alert" id="dangerAlert"
             th:if="${errorMsg}">
            <span th:text="${errorMsg}" style="text-align:center"></span>
        </div>

        <h2 class = "text-center">Set Your New Password</h2>
        <br>
        <div class="input-control">
            <label for = "old_password">
            </label>
            <input id = "old_password"
                   name = "old_password"
                   type = "password"
                   placeholder="Old Password"
                   />
            <i class="far fa-eye" id="togglePassword"></i>
            <div class = "error"></div>
        </div>
        <br>
        <div class="input-control">
            <label for = "new_password">
            </label>
            <input id="new_password"
                   name = "new_password"
                   type = "password"
                   placeholder="New Password"
                   />
            <i class="far fa-eye" id="toggleRetypePassword"></i>
            <div class = "error"></div>
        </div>
        <br>
        <div class="input-control">
            <label for = "re_type_password">
            </label>
            <input id="re_type_password"
                   name = "re_type_password"
                   type = "password"
                   placeholder="Retype Password"
                   onblur="checkRetypePassword(this)"/>
            <div class = "error"></div>
        </div>
        <br>
        <div class = "box-footer">
            <button id = "submit" type = "submit"  onclick="validateInputs(event)" class = "btn btn-primary" >Submit</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/customerFunction-js/UpdatePassword.js}"></script>
</body>
</html>